/backend/venv
/backend/__pycache__
/backend/application/__pycache__
/backend/application/database.db
/backend/migrations
/.vscode
/Ecole Maternelle Explications.docx
/~$ole Maternelle Explications.docx